layout {

    focus-ring {
        active-color   "#e4ce67"
        inactive-color "#252318"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#e4ce67"
        inactive-color "#252318"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#e4ce67"
        inactive-color "#857114"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#e4ce6780"
    }
}

recent-windows {
    highlight {
        active-color "#e4ce67"
        urgent-color "#fd4663"
    }
}
